@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/AnjomanMax-Regular.woff2') format('woff2'),
         url('../fonts/anjoman/AnjomanMax-Regular.woff') format('woff'),
         url('../fonts/anjoman/AnjomanMax-Regular.ttf') format('truetype'),
         url('../fonts/anjoman/AnjomanMax-Regular.otf') format('opentype'),
         url('../fonts/anjoman/AnjomanMax-Regular.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/AnjomanMax-Medium.woff2') format('woff2'),
         url('../fonts/anjoman/AnjomanMax-Medium.woff') format('woff'),
         url('../fonts/anjoman/AnjomanMax-Medium.ttf') format('truetype'),
         url('../fonts/anjoman/AnjomanMax-Medium.otf') format('opentype'),
         url('../fonts/anjoman/AnjomanMax-Medium.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}